.to-shop {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	flex-wrap: nowrap;
	border: 1px solid black;
	background: #fff;
	border-radius: 20px;
	padding: 9px 30px;
	width: 210px;
	margin: 0 auto;
	transition: all .3s;
	font-size: 13px;
}

.to-shop:hover {
	background: #000;
	color: #fff;
}
