.to-cart-btn {
	border: 1px solid black;
	border-radius: 20px;
	background-color: #fff;
	width: 210px;
	height: 35px;
	transition: all .5s;
	text-transform: uppercase;
	outline: none;
	margin-bottom: 20px;
	cursor: pointer;
}

.to-cart-btn:hover {
	background: #000;
	color: #fff;
}

